.carro {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  padding-bottom: 6rem;
  gap: 1rem;
  z-index: 2;

  .producto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 8rem;
    border: 1px solid #333;
    border-radius: .5rem;
    gap: .5rem;
    backdrop-filter: blur(10px);


    .cartProdImg {
      aspect-ratio: 4/3;
      width: 9rem;
      margin: .5rem 0 .5rem .5rem;
      border-radius: .5rem;
    }

    .prodDesc {
      flex: 4 0 15rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      color: $textDark;
      text-decoration: none;
    }

    .prodPrice {
      flex: 1 0 5rem;
      text-wrap: nowrap;
    }

    .cantProd {
      position: relative;
      display: flex;
      flex: 1 0 5rem;
      justify-content: space-between;
      margin-right: 1rem;
      text-wrap: nowrap;
      gap: .5rem;

      .boton {
        align-self: flex-start;
        background-color: $secondary;
        color: $textLight;
        text-transform: uppercase;
        border-radius: .4rem;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: solid 1px $secondary;

        &:hover {
          background-color: $primary;
          color: $textDark;
        }
      }
    }

    .eliminar {
      @extend .boton;
      position: absolute;
      bottom: 7rem;
      right: -0.5rem;
      background-color: transparent;
      border: none;
      backdrop-filter: opaccity(10%);
      transition: transform ease-in-out .15s;

      &:hover {
        background-color: transparent;
        border: none;
        transform: scale(1.5);
      }
    }
  }

  .carroInfo {
    display: flex;
    flex-direction: row-reverse;
    height: 4rem;
    align-items: center;
    justify-content: space-between;

    .total {
      margin: 0;
    }

    .botones {

      button {
        width: 10rem;
        height: 3rem;
        background: rgba($backgroundDark, .7);
        border: none;
      }

      .vaciar {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }

      .comprar {
        background: rgba($backgroundDark, .6);
        border-bottom-right-radius: .5rem;
        border-top-right-radius: .5rem;

        .navLink {
          color: $textDark;
          text-decoration: none;
        }
      }
    }
  }
}