.footer {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: $backgroundFooter;
  color: $textLight;
  padding: 20px;
  z-index: 2;


  &.hidden {
    display: none;
  }

  .nav {
    .nav-item {
      .nav-link {
        color: rgba($textLight, .6);
      }

      .active {
        color: $textLight;
        background-color: $accent;
      }
    }
  }

  h2 {
    font-size: 1.5em;
  }

  .socials {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    a {
      color: $textLight;
      margin: 0 5px;
      text-decoration: none;
      font-size: 18px;

      svg {
        color: $textLight;
        height: 3rem;
        width: 3rem;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .footer-section {
      margin: 10px;
      flex: 1;

      h2 {
        margin-bottom: 10px;
      }

    }
  }

  .footer-section {
    margin-bottom: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: $textLight;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 1rem;
    margin-top: 1.5rem;
    font-size: 0.9em;
  }
}


@media (max-width: 768px) {
  .footer {
    h2 {
      font-size: 1.2em;
    }

    .socials {
      flex-direction: column;

      a {
        margin-bottom: 10px;
      }
    }
  }
}