* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s cubic-bezier(0, .49, .48, 1);
  font-family: $titulos;
}

p{
  margin: 0;
}

html {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body{
  .loading {
    .loading-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 7.5rem;
    }
  }
}

.generalCont {

  .marmolSuperior {
    position: fixed;
    background-image: url("/src/assets/marmolBlanco.jpg");
    width: 700%;
    height: 350px;
    left: -920px;
    top: 0;
    z-index: 1;
  }

  .container {
    color: $textDark;
    height: 100vh;
    min-width: $minWidth;
    width: $generalWidth;
    margin: 0 auto;

    @media (max-width: 1300px) {
      width: 100%;
    }

    .contenido {
      width: 100%;
    }
  }
}

.notFound {
  background-color: $backgroundLight;
  padding-top: calc($headerHeight + 1.5rem);
  min-height: 100vh;
}

.active {
  font-weight: bold;
}

.carousel {
  position: relative;
  z-index: 2;
  width: 120%;
  left: -10%;
}

.carousel-inner>.carousel-item {
  height: 400px;

  img {
    object-fit: fill;
    min-width: 100%;
    max-height: 143%;
  }
}

p{
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: $textLight;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .footer-section {
      margin: 10px;
      flex: 1;

      h2 {
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 5px 0;

          a {
            color: $textLight;
            text-decoration: none;
          }
        }
      }

      .socials {
        
        a {
          color: $textLight;
          margin: 0 5px;
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 20px;
  }
}