.itemListContainer {
  padding-top: calc($headerHeight + 4rem);
  color: $textDark;
  min-height: 100vh;
  padding-inline: .5rem;

  .tituloProductos {
    color: $textDark;
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    font-size: 20px;

    .navLink {
      text-decoration: none;
      color: $textDark;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .productos {
    position: relative;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    z-index: 1;

    @media (max-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: .5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      background-color: $backgroundLight;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      .botones {
        align-self: flex-start;
        padding: 0.5rem 1rem;
        background-color: $secondary;
        color: $textLight;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: solid 1px $secondary;

        &:hover {
          background-color: $primary;
          color: $textDark;
        }
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      img {
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      .itemDetalles {
        background-color: $primary;
        border-radius: .5rem;
        margin-top: -1.5rem;
        padding: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // background-image: url('/src/images/layered-waves-haikei.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 11rem;

        .detalles {
          cursor: pointer;

          .itemDetallesNombre {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: $textLight;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .itemDetallesDescripcion {
            line-height: 24px;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            color: $textLight;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }

          .itemDetallesPrecio {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: $textLight;
          }
        }
      }
    }
  }
}